:root {
    --primary-color: #055a05;
    --secondary-color: #f4a261;
    --accent1-color: #264653;
    --accent2-color: #e9c46a;
    --heading-font: "Time New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    display: flex;
    /* background-color: var(--primary-color); */
    color: var(--accent2-color);
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;

}
.logo {
    width: 120px;
}

nav {
     display: flex; 
    justify-content: flex-end;
    align-items: center;
    gap: 2rem; 
    /* background-color:lightblue; */
    /* padding: 1rem; */
}

nav a {
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 1rem;
    display: block;
    font-size: 1.1rem;
}



body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}
h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}


.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
    text-align: center;
    padding: 2rem  1rem;
}

.hero article {
    position: absolute;
    right: 10px;
    top:    75%;
    left: 10px;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    max-width: 900px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}
.hero h1 {
    color: var(--accent2-color);
}

h1 {
    position: absolute;
    top: 30px;
    width: 96%;
    padding: 16px; 
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}
.hero article img {
    float: right;
    width: 125px;
}

nav a:hover {
    background-color: var(--secondary-color);
    color: white;
}

/* History */
.history {
    display: grid;
    grid-template-columns: 1fr auto 1fr;  
    gap: 5px;
    align-items: start;  
    width: 100%;
    padding: 20px;
}



.history h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
    grid-column: 1 / 4; 
}


.history p:first-of-type {
    grid-column: 1;  
}

.history img {
    grid-column: 2;   
    width: 300px;     
    height: auto;
    display: block;
    border-radius: 2%;
}

.history p:last-of-type {
    grid-column: 3;   
}

/* adventures */
.adventures {
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.adventures h2 {
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: bold;
    padding: 20px 0;
}


.adventures-flex figure {
    margin: 0 10px;
}


.adventures-flex {
    display: flex;
    justify-content: center;
    gap: 20px; 
}

.adventures-flex img {
    width: 130px;
    height: auto;
    border-radius: 8px;
}

.adventures figcaption {
    margin-top: 8px;
    font-weight: 600;
}


/* footer */
footer {
    background: #f2f2f2;
    padding: 15px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

footer p {
    margin: 0;
    font-size: 1rem;
    font-weight: 600;
    align-items: center;
}

.socialmedia {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    gap: 15px;
}

.socialmedia img {
    width: 30px;
    height: auto;
    display: block;
    
}