:root {
    --primary-color: #055a05;
    --secondary-color: #f4a261;
    --accent1-color: #264653;
    --accent2-color: #e9c46a;
    --heading-font: "Time New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

header {
    /* background-color: var(--primary-color); */
    color: var(--accent2-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}
h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero article {
    position: absolute;
    right: 20px;
    top:    58%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    max-width: 900px;
     border-radius: 8px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}
.hero h1 {
    color: var(--accent2-color);
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    page: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}
.hero article img {
    float: right;
    width: 125px;
}