:root {
    --heading-background-color: darkblue;
    --text-align: center;
    --margin: 1rem;
    --padding: 1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




main {
    max-width: 840px;
    grid-column: 2/3;
    margin: 1rem;
}
main img {
    width: 150px;
    height: auto;
    float: right; 
   
}



/* nav {
    background-color: var(--heading-background-color);
    padding: 10px;
} */
nav {
    background-color: steelblue;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
nav a {
    color: white;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}

h1 {
    color: var(--heading-background-color);
    border-bottom: 2px #000;
}
img{
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
   
}
p {
    padding: 0;
}

aside {
    width: 20rem;
    /* margin: var(--margin); */
    /* border: 1px solid rbg(0 0 0 / 0.2); 1️⃣ */
    /* padding: var(--padding); */
    /* background-color: #eee; */
    /* color: #333; */
    text-align: var(--text-align);
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside h2 {
    position: absolute;
    top: 30px;
    left: 188px;
}
aside img {
    width: 200px;
    height: auto;
    
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: var(--text-align);
}

/* Class Selectors */
.box {
    margin: var(--margin);
    border: 1px solid rgb(0 0 0 / 10%);
    padding: var(--padding);
    background-color: #eee;
    color: #000;
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

.grid {
    display: grid;
    align-items: center;
}